<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/static/css/style.css">
    <script src="../public/static/js/style.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="opcionesProductos">
        <select name="" id="" class="selecOpciones">
            <option value="">tipo torre</option>
            <option value="">rgb</option>
            <option value="">sin rgb</option>
        </select>

        <select name="" id="" class="selecOpciones">
            <option value="">Escoja el valor</option>
            <option value="">1.000.000</option>
            <option value="">1.500.000</option>
            <option value="">2.000.000</option>
            <option value="">2.500.000</option>
            <option value="">3.000.000</option>
        </select>

        <select name="" id="" class="selecOpciones"> 
            <option value="">Gráfica</option>
            <option value="">Si</option>
            <option value="">no</option>
        </select>
    </div>
</body>
</html>