<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/static/css/style.css">
    <script src="../public/static/js/style.js"></script>
    <title>Tienda | productos</title>
</head>
<body>
    
    <header>
        <h1>productos</h1>
    </header>

    <section class="container">
        <article class="card">
            <img src="../public/img/pc1.jpeg" alt="imágenes de computadores a la venta" class="cardImage">
            <span class="precioCard">Precio: $ 2.500.000</span>
            <button class="btnComprar"><a href="#">comprar</a></button>
        </article>
        <article class="card">
            <img src="../public/img/pc2.jpeg" alt="imágenes de computadores a la venta" class="cardImage">
            <span class="precioCard">Precio: $ 2.900.000</span>
            <button class="btnComprar"><a href="#">comprar</a></button>
        </article>
        <article class="card">
            <img src="../public/img/pc3.jpeg" alt="imágenes de computadores a la venta" class="cardImage">
            <span class="precioCard">Precio: $ 1.500.000</span>
            <button class="btnComprar"><a href="#">comprar</a></button>
        </article>
        <article class="card">
            <img src="../public/img/pc4.jpeg" alt="imágenes de computadores a la venta" class="cardImage">
            <span class="precioCard">Precio: $ 2.580.000</span>
            <button class="btnComprar"><a href="#">comprar</a></button>
        </article>
        <article class="card">
            <img src="../public/img/pc5.jpeg" alt="imágenes de computadores a la venta" class="cardImage">
            <span class="precioCard">Precio: $ 2.800.000</span>
            <button class="btnComprar"><a href="#">comprar</a></button>
        </article>
        <article class="card">
            <img src="../public/img/pc6.jpeg" alt="imágenes de computadores a la venta" class="cardImage">
            <span class="precioCard">Precio: $ 2.000.000</span>
            <button class="btnComprar"><a href="#">comprar</a></button>
        </article>
    </section>
</body>
</html>